{% extends "blog/base.html" %}
{% block content %}

  <div class="col-md-14">
   <div class="content-section">
       <div class="media-body">
            <h6 class="article-title" > Reservation: {{ object.confirmation_code }}</h6>
            <p class="article-content"><strong>Guest:</strong> {{ object.guest }} </p>

            <div class="table-responsive" style="font-size:11px" >
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Payout</th>
                        <th scope="col">Limekee Fee</th>
                        <th scope="col">Cleaning Fee</th>
                        <th scope="col">Extra Services</th>
                        <th scope="col">Total Due</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">${{ object.price }}</th>
                        <td>${{ object.limekee_fee }}</td>
                        <td>${{ object.cleaning_fee }}</td>
                        <td>${{ object.extra_fee }}</td>
                        <td>${{ object.total_due }}</td>
                   </tr>
               </tbody>
           </table>
           </div>

<!--  Stripe Payment Button -->

        {% if object.host == user %}
        {% if object.paid == False %}
            <div >
              <form action="{% url 'charge-reservation' reservation.pk %}" method="post">
                  {% csrf_token %}
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ key }}"
                  data-image="/media/Logo3.png"
                  data-description="Limekee Charge"
                  data-amount="{{object.total_due_for_stripe}}"
                  data-locale="auto"
                  data-email="{{user.email}}"
              </script>
              </form>
            </div>
        {% endif %}
        {% endif %}

       </div>
     </div>
   </div>
{% endblock content %}
