{% extends "blog/base.html" %}
{% block content %}

        <div class="col-md-14">
          <div class="content-section">
              <div class="table-responsive" style="font-size: 10px">
              <table class="table table-hover">
                  <thead class="thead-dark">
                      <tr>
                          <th scope="col" class="align-middle">Confirmation Code</th>
                          <th scope="col" class="align-middle">Guest</th>
                          <th scope="col" class="align-middle">Check-In</th>
                          <th scope="col" class="align-middle">Check-Out</th>
                          <th scope="col" class="align-middle">Payout</th>
                          <th scope="col" class="align-middle">Limekee Fee</th>
                          <th scope="col" class="align-middle">Cleaning Fee</th>
                          <th scope="col" class="align-middle">Extra Services</th>
                          <th scope="col" class="align-middle">Total</th>
                      </tr>
                  </thead>   <!-- if reservation.host == user -->
                  {% for reservation in reservations %}
                  <tbody>
                      <tr>
                          <th scope="row">{{ reservation.confirmation_code }}</th>
                          <td>{{ reservation.guest }}</td>
                          <td>{{ reservation.check_in }}</td>
                          <td>{{ reservation.check_out }}</td>
                          <td>${{ reservation.price }}</td>
                          <td>${{ reservation.limekee_fee }}</td>
                          <td>${{ reservation.cleaning_fee }}</td>
                          <td>${{ reservation.extra_fee }}</td>
                          <td>${{ reservation.total_due }}</td>
                     </tr>
                 </tbody>
                 {% endfor %}
             </table>
             </div>
           </div>
         </div>

{% endblock content %}
